
     body {
    text-align:center;
	background-repeat: no-repeat;
	background-size: contain;
	margin :auto;
	padding:0;
	font-familly: sans-serif;
	width:88%;
    height:100vh;
    background-color: #000000cf;
        }
 
        .h4, h4 {
            font-size: 1.5rem;
            font-size: 40px;
            font-style: italic;
            color: aquamarine;
        }
        .h1, h1 {
            font-size: 50px;
            font-style: italic;
            color: aquamarine;
        }
         
        .i-large,
        .i-medium,
        .i-small {
            position : absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            height: 2000px;
        }
         
        .i-large {
            background: url("./particules_large.png") repeat 0px 0px;
            -webkit-animation: dropFlowParticles 2s linear infinite;
                 -o-animation: dropFlowParticles 2s linear infinite;
                    animation: dropFlowParticles 2s linear infinite;
        }
        .i-medium {
            background: url("./particules_medium.png") repeat 0px 0px;
            -webkit-animation: dropFlowParticles 12s linear infinite;
                 -o-animation: dropFlowParticles 12s linear infinite;
                    animation: dropFlowParticles 12s linear infinite;
        }
        .i-small {
            background:url("./particules_small.png") repeat 0px 0px;
            -webkit-animation: dropFlowParticles 27s linear infinite;
                 -o-animation: dropFlowParticles 27s linear infinite;
                    animation: dropFlowParticles 27s linear infinite;
        }
         
        @-webkit-keyframes dropFlowParticles {
            from { background-position: 0 0; }
            to { background-position: 0 413px; }
        }
        @keyframes dropFlowParticles {
            from { background-position: 0 0; }
            to { background-position: 0 413px; }
        }
    .container
    {
        text-align: center;
        margin: auto;
        width: 60%;
    }	
    
    .gallilee
    {
        float: center;
        margin: 10px 0 10px 10px;
        border-radius: 1.5%;
        opacity: 0.7;
        box-shadow: 3px 3px 5px black;
    }
    .gallilee:hover
    {
        transform: scale(1.05);
    }
    
    
    .form-control, 
    {
        border:2px solid rgb(52, 119, 38);
        background: none;
        color: white;
    }

     
  
    .btn-secondary
    {
        background-color:blue;
        float: left;	
        border: none;
        border-radius: 4px;	
    
    }
    .btn-secondary:hover
    {
        color: #e01a2d;
        font-weight: bold;
        border : none;
        box-shadow:2px 2px 2px black;
        background-color: rgb(172, 39, 39);
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .btn1
    {
        width: 100%;
        margin:auto;
        padding: 8px;
        margin-top: 10px;
        text-align: center;	
        border-radius: 4px;
    }
    
    
    .card
    {
        margin: 0 auto;
        width: 100%;
        box-shadow: 4px 4px 6px black;
    }
    .card-header {
        color: red;
        text-align: center;
        font-size: x-large;
        font-style: italic;
    }
   
    li.list-group-item {
        font-size: larger;
        text-align: center;
    }
   
    p.card-text {
        color: black;
        font-size: larger;
    }
    .card-title {
        margin-bottom: .75rem;
        font-size: 25px;
    }

   
